*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.top{
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
    padding-bottom: 1.5%;
    background-color: lavenderblush;
}
span{
    color: blue;
    padding: 3px;
}
.txt{
    margin-left: 5%;
    padding-top: 0.5%;
}
.links{
    margin-right: 5%;
    padding-top: 1.2%;
}
.links a{
    padding: 20px;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}
.text{
    margin-left: 5%;
}
.land{
    background-color: rgb(122, 122, 230);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20%;
    padding: 3%;
    color: white;
}
.picture{
    padding-top: 20%;
}
.text h1{
    padding-bottom: 2%;
    font-size: 1.4rem;
}
.text h2{
    font-size: 0.8rem;
}
.text p{
    padding-top: 1%;
    line-height: 25px;
    font-size: 0.6rem;
}
.bty{
    background-color: yellow;
    width: 200px;
    height: 45px;
    margin-top: 1%;
}
.center{
    margin: auto;
    align-items: center;
    text-align: center;
}
.message{
    padding: 3%;
    word-spacing: 10px;
    line-height: 35px;
    background-color: lavenderblush;
}
.field{
    background-color: rgb(32, 32, 83);
    padding: 3%;
}
.field input{
    height: 20px;
    width: 17%;
    padding: 15px;
    margin-right: 5px;
}
.solutions{
    padding-bottom: 4%;
}
.solutions h1{
    padding-bottom: 1%;
    padding-top: 1%;
}
.solutions p{
    line-height: 25px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4%;
    grid-row-gap: 4%;
    padding-bottom: 3%;
}
.card{
    width: 90%;
    height: 180px;
    color: black;
    background-color: white;
    box-shadow: 13px -13px 20px -50px white,
                -13px 13px 20px 50px lavenderblush;
    transition: 0.6s;
}
.card:hover{
    background-color: wheat;
}
.card h1{
    padding-top: 15%;
}
.card p{
    padding-top: 1%;
}
.one{
    margin-left: 3%;
}
.lock{
    background-color: rgb(122, 122, 230);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 4%;
    padding: 2%;
}
.text2{
    margin-top: 15%;
    padding-left: 3%;
    color: rgb(213, 182, 240);
}
.text2 h1{
    padding-bottom: 1%;
}
.text2 p{
    padding-bottom: 1%;
    font-size: 0.85rem;
}
.image{
    margin-left: 15%;
    margin-top: 5%;
}
footer{
    padding: 2%;
    background-color: rgb(231, 202, 212);
}
footer p{
    font-weight: 500;
}
@media (max-width: 700px) {
    .top{
        display: block;
    }
    .links a{
        padding: 10px;
    }
    .picture{
        display: none;
    }
    .field input{
        display: block;
        margin: auto;
        width: 170px;
    }
    .solutions{
        padding-bottom: 11%;
    }
    .solutions p{
        font-size: 0.6rem;
        line-height: 15px;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    .card{
        margin-left: 3%;
    }
    .image{
        display: none;
    }
    .text2{
        line-height: 30px;
    }
    .lock{
        margin-top: 85%;
    }
}